{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/medtrackerproject"
    },
    "cloudant": {
      "db": "https://taitteryournsinglightemb:nW86qVIlaXUUD1bMXr2tIkmF@wseago2.cloudant.com/asdproject"
    }  
  }
}
